@import './reset';
@import './variables';

.logo-font{
    font-family: $logo-font;
}

//Heading CSS

// h1{
//     margin-bottom: 18px;
//     font-size: 38px;
// }

// h2{
//     margin-bottom: 18px;
//     font-size: 32px;
// }


//Flex CSS

// .flex{
//     display: flex;

//     &.flex-wrap{
//         flex-wrap: wrap;
//     }

//     &.flex-center{
//         align-items: center;
//         justify-content: center;
//     }
// }

//Hero CSS

// .hero{
//     position: relative;
//     height: 65vh;
//     overflow: hidden;
//     img{
//         width: 100%;
//         object-fit: cover;
//     }
//     &-content{
//         max-width: 600px;
//         position: absolute;
//         left: 100px;
//         top: 40%;
//         transform: translateY(-50%,-50%);
//         color: #fff;
//         font-family: $primary-font;
//     }
//     &-nav{
//         top: 10%;
//         right: 10rem;
//         color: #fff;
//         position: absolute;
//         // transform: translateY(-50%,-50%);

//         ul{
//             display: flex;
//             justify-content: space-between;

//             li{
//                 padding-right: 20px;
//             }
//         }
//     }
// }

//Special Dishes CSS

// .special-dishes{
//     &-content{
//         max-width: 700px;
//         margin: auto;
//         text-align: center;
//         font-family: $primary-font;

//         h2{
//             margin: 20px 0px;
//         }
//     }
//     &-list{
//         h1{
//             text-align: center;
//             margin: 20px 0px;
//         }
//     }
// }

// Preloader Animation

// $root: rgba(27, 27, 27 ,1);
// $white: rgba(255,255,255,1);
// $maron: rgba(199,169,149,1);

@mixin transition($time) {
  transition: all $time ease;
}
@mixin center {
  top:50%;
  transform: translateY(-50%);
}

// *,*::before,*::after {
//   box-sizing: border-box;
// }

// body {
//   width: 100%;
//   height: 100%;
//   font-family: lato;
//   background: $root;
// }
.loader {
  position: absolute;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(65, 64, 64, 0.7));
  left:50%;
  @include center;
  svg {
    path {
      fill: rgb(49, 182, 55);
    }
  }
}